.search_container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  margin-left: 14em;
}

.search_bar {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.search_input_container {
  margin-bottom: 0px;
}

.browser-all > h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.genre-grid {
  grid-template-columns: repeat(3, auto);
  overflow-y: visible;
  gap: 10px;
  width: 535px;
  height: 400px;
}

.top-result {
  width: 70%;
}

.ImageListItemBar {
  border-bottom-right-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
}
