@media (max-width: 1350px) {
  .home_aside {
    font-size: 0.6rem;
    width: 70%;
  }
}

@media (max-width: 1200px) {
  .sideMenu {
    font-size: 0.6rem;
  }

  #root
    > div
    > div.flex-1.h-fit.pb-28
    > div
    > div.MuiDrawer-root.MuiDrawer-docked.css-idtcnf-MuiDrawer-docked
    > div {
    width: 15%;
  }
}
